@font-face {
  font-family: 'Fira Mono Medium';
  src: url('/src/assets/spidz_not_spizd/fonts/FiraMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Mono Regular';
  src: url('/src/assets/spidz_not_spizd/fonts/FiraMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/src/assets/spidz_not_spizd/fonts/UbuntuMono-R.ttf') format('truetype');
}

@font-face {
  font-family: 'Odibee Sans';
  src: url('/src/assets/spidz_not_spizd/fonts/OdibeeSans-Regular.ttf') format('truetype');
}
