.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: radial-gradient(123.63% 123.63% at 80.24% 107.23%, #1F0505 0%, #7C2736 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  .top-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .middle-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bottom-middle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
