// main {
//   position: absolute;

//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;

//   background: linear-gradient(#331317, #051018);

//   overflow-y: scroll;
//   overflow-x: hidden;

//   .image-list {
//     display: grid;
    
//     grid-template-columns: repeat(6, 1fr);

//     column-gap: 32px;
//     row-gap: 58px;

//     margin: 75px 64px;
//   }
// }

// // TODO: Customize scrollbars


.image-list {
  display: flex;
  position: absolute;

  flex-wrap: wrap;
  gap: 48px;

  top: calc(128px / 1024px * 100%);
  right: calc(96px / 1440px * 100%);
  bottom: 0;
  left: calc(64px / 1440px * 100%);

  overflow-y: scroll;
  overflow-x: hidden;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .image-card-container {
    display: flex;

    height: calc(407px / 1024px * 100%);
    width: calc(195px / 1440px * 100%);

    overflow: hidden;
  }
}
